appsettings.json
appsettings.Development.json
appsettings.Production.json
secrets.json
.env
!appsettings.Example.json

[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
publish/
*.nupkg
.vs/
.idea/
.vscode/

pgdata/
certbot/conf/*
!certbot/conf/.gitkeep
certbot/www/*
!certbot/www/.gitkeep
redisdata/
*.db
*.sqlite

*.suo
*.user
*.userosscache
*.sln.docstates
*.log
*.tmp
*.orig
Thumbs.db
Desktop.ini
.DS_Store

**/packages/*
!**/packages/build/
project.lock.json
