.git
.gitignore
**/.vs
**/.idea
**/.vscode
**/.cursor

**/bin/
**/obj/
**/out/
**/publish/
**/[Dd]ebug/
**/[Rr]elease/

pgdata/
**/*.db
**/*.sqlite

**/*.log
**/*.tmp
**/*.user
**/*.suo

**/.DS_Store
**/Thumbs.db

docker-compose.yml
docker-compose.*.yml
nginx/

**/.env
**/secrets.json

**/*.md
!README.md
